#graph {
  text-align: center;
  position: relative;
}

#stats {
  position: absolute;
  z-index: 2;
  left: 5px;
  bottom: 10px;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  display: none;
}

input#range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #000;
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.5s ease all;
}

input#range-slider::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0px 3px rgba(255, 255, 255, 0.3);
}

input#range-slider {
  -webkit-appearance: none;
  width: 140px;
  height: 5px;
  background: rgba(255, 255, 255, 0.7);
  transition: 0.3s ease all;
  outline: none;
  border-radius: 2px;
  position: relative;
  top: 2px;
  direction: rtl;
}

input#range-slider:hover {
  background: rgba(255, 255, 255, 0.9);
}

#freq-information {
  position: absolute;
  bottom: 7px;
  right: 5px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  z-index: 2;
  display: none;
}

div#freq-information label {
  display: inline-block;
  position: relative;
  top: 3px;
  font-weight: bold;
  letter-spacing: 0.3px;
}

@media (min-width: 1200px) {
  #freq-information {
    display: block !important;
  }
}

@media (min-width: 1480px) {
  #stats {
    display: block !important;
  }
}